#nglview==2.0 required

biopython==1.78
duecredit==0.9.1
future==0.18.2
GromacsWrapper==0.8.0
h5py==3.2.1
heat==1.0.0
ipywidgets==7.6.3
jupyter==1.0.0
scikit-learn==0.24.2
MDAnalysis==1.1.1
nglview==2.0
numpy==1.20.3
pdf2image==1.10.0
Pillow==8.2.0
pyperclip==1.8.2
seaborn==0.11.1
termcolor==1.1.0
tqdm>=4.61.0
widgetsnbextension==3.5.1
