numpy>=1.21.0               ;python_version=='3.8'
autopep8>=1.5.7             ;python_version=='3.8'
biopython==1.78             ;python_version=='3.8'
duecredit>=0.9.1            ;python_version=='3.8'
future>=0.18.2              ;python_version=='3.8'
GromacsWrapper==0.8.0       ;python_version=='3.8'
h5py>=3.3.0                 ;python_version=='3.8'
heat==1.0.0                 ;python_version=='3.8'
ipywidgets>=7.6.3           ;python_version=='3.8'
jupyter>=1.0.0              ;python_version=='3.8'
scikit-learn>=0.24.2        ;python_version=='3.8'
matplotlib==3.3.4           ;python_version=='3.8'
MDAnalysis>=1.1.1           ;python_version=='3.8'
nglview==2.0                ;python_version=='3.8'
pyperclip>=1.8.2            ;python_version=='3.8'
pytest>=6.2.4               ;python_version=='3.8'
pytest-cov>=2.12.1          ;python_version=='3.8'
seaborn>=0.11.1             ;python_version=='3.8'
termcolor>=1.1.0            ;python_version=='3.8'
tqdm>=4.61.0                ;python_version=='3.8'
widgetsnbextension>=3.5.1   ;python_version=='3.8'

################################################################################
################################################################################

numpy>=1.19.5               ;python_version=='3.6'
autopep8>=1.4.3             ;python_version=='3.6'
biopython==1.78             ;python_version=='3.6'
duecredit>=0.9.1            ;python_version=='3.6'
future>=0.17.1              ;python_version=='3.6'
GromacsWrapper==0.8.0       ;python_version=='3.6'
h5py>=2.10.0                ;python_version=='3.6'
heat==0.5.0                 ;python_version=='3.6'
ipywidgets>=7.4.2           ;python_version=='3.6'
jupyter>=1.0.0              ;python_version=='3.6'
scikit-learn>=0.24.2        ;python_version=='3.6'
matplotlib==3.3.4           ;python_version=='3.6'
MDAnalysis>=1.1.1           ;python_version=='3.6'
nglview==2.0                ;python_version=='3.6'
pyperclip>=1.7.0            ;python_version=='3.6'
pytest>=6.2.4               ;python_version=='3.6'
pytest-cov>=2.12.1          ;python_version=='3.6'
seaborn>=0.11.1             ;python_version=='3.6'
termcolor>=1.1.0            ;python_version=='3.6'
tqdm>=4.60.0                ;python_version=='3.6'
widgetsnbextension>=3.4.2   ;python_version=='3.6'
